/* HEADER */ 

.weather_header_logo .weather_header_logo_title {
    font-size: 3.2rem;
}

.weather_header_logo .weather_header_logo_title small {
    color: #FFA500;
    right: 10px;
    font-size: 1.2rem;
}

/* SEARCH BAR */
.search_bar_container .search_bar_form .search_bar_locale {
    background-color: transparent;
    font-size: 1rem;
    padding: 6px 0;
}

.search_bar_container .search_bar_form .search_bar_locale::placeholder {
    color: #dcd9d9;
}

/* WEATHER LOCALE */
.weather_locale_temperature_session {
    width: 100%;
    margin: 68px 0;
}

.weather_locale_temperature_session .weather_locale_temperature {
    font-size: 3.2rem;
}

.weather_locale_temperature_session .weather_locale_temperature {
    font-size: 3.2rem;
}

.weather_locale_locale_name .weather_locale_city_name {
    font-size: 2rem;
    top: 4px;
}

.weather_locale_temperature_session .weather_locale_icon svg {
    font-size: 2.6rem;
}

/* WEATHER DETAILS */
.weather_card_details header {
    font-size: 1rem;
    margin-bottom: 40px;
    text-align: center;
}

.weather_card_details_content {
    background-color: rgb(28 46 54 / 30%);
    border-radius: 4px;
}

.weather_card_details_content h1 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 48px;
}

.weather_card_details_feels_like_container {
    width: 40%;
}

.weather_card_details,
.weather_card_details_info_container,
.weather_card_details_feels_like_container,
.weather_card_details_wind_container,
.weather_card_details_humidity_container,
.weather_card_details_colud_container {
    width: 100%;
}
