

/* HEADER */ 
.weather_header_logo .weather_header_logo_title {
    font-size: 3.2rem;
}

.weather_header_logo .weather_header_logo_title small {
    color: #FFA500;
    right: 26px;
    font-size: 1.2rem;
}

/* SEARCH BAR */
.search_bar_container .search_bar_form .search_bar_locale {
    background-color: transparent;
    font-size: 1rem;
    padding: 6px 0;
    color: #fff;
}

.search_bar_container .search_bar_form .search_bar_locale::placeholder {
    color: #dcd9d9;
}

/* WEATHER LOCALE */
.weather_locale_container {
    width: 100%;
    margin: 68px 0;
}

.weather_locale_temperature_session .weather_locale_temperature {
    font-size: 3.2rem;
}

.weather_locale_locale_name .weather_locale_city_name {
    font-size: 2rem;
    top: 4px;
}

.weather_locale_temperature_session .weather_locale_icon svg {
    font-size: 2.6rem;
}

.weather_locale_temperature_session .weather_locale_icon img {
    width: 70px;
}

/* WEATHER DETAILS */
.weather_card_details header {
    font-size: 1rem;
    margin-bottom: 40px;
    text-align: center;
    color: orange;
}

.weather_card_details_content {
    background-color: rgba(104, 171, 230, 0.1);
    border-radius: 4px;
}

.weather_card_details_content h1 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 48px;
    color: orange;
}

.weather_card_details_content h1 small {
    font-size: 1rem;
    color: #fff;
}

.weather_card_details,
.weather_card_details_info_container,
.weather_card_details_feels_like_container,
.weather_card_details_wind_container,
.weather_card_details_humidity_container,
.weather_card_details_colud_container {
    width: 100%;
}

.loader_container {
    position: fixed;
    z-index: 10;
    inset: 0;
    left: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* FORECAST */
.forecast_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.forecast_container_item {
    background-color: rgba(104, 171, 230, 0.1);
    border-radius: 4px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forecast_container_date {
    font-size: 1.2rem;
}

.forecast_container_icon {
    margin: 1.2rem 0;
}

.forecast_container_temperature span:nth-child(1) {
    color: orange;
    font-size: 1.2rem;
}

.forecast_container_temperature span:nth-child(2) {
    color: rgb(59, 59, 210);
    font-size: 1.2rem;
}

.forecast_container_condicao {
    margin-top: 1.2rem;
    font-size: .8rem;
}

/* MEDIA QUERIE */
@media (min-width: 800px) {
    .main div {
        display: flex;
        justify-content: space-between;
    }
    
    /* HEADER */
    .weather_header {
        padding-top: 1.4rem;
        padding-left: 3.5rem;
    }

    .weather_card_details header {
        font-size: 1.4rem;
    }
    

    .weather_header_logo .weather_header_logo_title {
        font-size: 90px;
    }

    .weather_header_logo .weather_header_logo_title small {
        font-size: 1.8rem;
    }

    /* SEARCH BAR */
    .search_bar_form {
        height: 40px;
        width: 430px;
    }

    .search_bar_container .search_bar_form .search_bar_locale {
        width: 430px;
    }

    /* WEATHER LOCALE */
    .weather_locale_container {
       display: flex !important;
    }

    .weather_locale_temperature_session .weather_locale_temperature {
        font-size: 90px;
        padding-left: 3.5rem;
    }

    .weather_locale_locale_name .weather_locale_city_name {
        font-size: 48px;
    }
    
    .weather_locale_temperature_session .weather_locale_icon svg {
        font-size: 70px;
        margin-left: 1rem;
    }

    /* WEATHER DETAILS */
    .weather_card_details_content {
        display: flex;
        flex-direction: column;
        padding-left: 2.5rem;
    }
    
    .weather_card_details_info_container {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 400px;
        font-size: 1.4rem;
        padding: 0 1.2rem;
    }

    .weather_card_details_feels_like_container,
    .weather_card_details_wind_container,
    .weather_card_details_humidity_container,
    .weather_card_details_colud_container {
        margin: 70px 0;
    }

    /* LOADER */
    .loader_container {
        left: 45%;
    }

    /* FORECAST */
    .forecast_container {
      display: flex;
      flex-direction: row;
    }

    .forecast_container_item {
        width: 180px;
        border-radius: 6px;
    }
}